{{#each this}}
  <div class="photo-card">
    <img class="img" src="{{webformatURL}}" alt="{{tags}}" width="400" height="300"/>

    <div class="stats">
      <p class="stats-item">
        <i class="material-icons gold">thumb_up</i>
        {{likes}}
      </p>
      <p class="stats-item">
        <i class="material-icons orange">visibility</i>
        {{views}}
      </p>
      <p class="stats-item">
        <i class="material-icons green">comment</i>
        {{comments}}
      </p>
      <p class="stats-item">
        <i class="material-icons blue">cloud_download</i>
        {{downloads}}
      </p>
    </div>
  </div>
{{/each}}